@charset "UTF-8";
/* Artiste
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */
/* Modus Versus Slicing
 *
 * /sass/settings/_paths.scss - Global paths variables
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */
/* Artiste
 *
 * /sass/settings/_colors.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */
/** DEBUT COLORS INDEX **/
/** FIN COLORS INDEX **/
/** DEBUT COLORS GALERIE **/
/** FIN COLORS GALERIE **/
/* Artiste
 *
 * /sass/settings/_fonts.scss - Global fonts variables & fonts loading
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */
@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Artiste
 *
 * /sass/objects/_block.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */
/* Artiste
 *
 * /sass/tools/_util.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */
h1 {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  display: none; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  background-color: #FEFDF0;
  /*width: 1200px;*/ }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Artiste
 *
 * /sass/base/_root.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */
/* Artiste
 *
 * /sass/objects/_header.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */
header {
  display: flex;
  flex-flow: column wrap; }

/* Artiste
 *
 * /sass/objects/_topbar.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */
.topbar__list {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .topbar__list__index {
    height: 3.7rem;
    line-height: 3.7rem;
    flex: 1; }
    .topbar__list__index__link {
      z-index: 1000;
      display: block; }

@media (max-width: 640px) {
  .topbar__list {
    display: inline-block;
    width: 100%; } }

/* Artiste
 *
 * /sass/objects/_block.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */
.background {
  height: 94vh; }

.block {
  margin: 150px auto;
  max-width: 965px; }
  .block__lampe {
    height: 100px; }
  .block__title {
    margin: 20px 0 40px; }
  .block__contenu {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .block__contenu__profil {
      margin-right: 50px; }
    .block__contenu__text {
      max-width: 400px; }

/* Artiste
 *
 * /sass/objects/_footer.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */
.copyright {
  width: 100%;
  padding: 11px 0;
  margin-top: 20px; }

.dessin {
  height: 100px;
  margin-top: 100px; }

.title {
  margin: 20px 0 40px; }

.images {
  margin: 100px auto;
  width: 965px; }
  .images__bloc {
    position: relative; }
    .images__bloc__visuel {
      width: 300px;
      height: auto; }
    .images__bloc__list {
      position: absolute;
      top: 0;
      width: 300px;
      display: block;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .images__bloc__list__title {
        margin-bottom: 4px; }

.livres {
  height: 100px;
  margin-top: 100px; }

.books {
  max-width: 965px;
  margin: 0 auto;
  padding: 0 25px; }
  .books__list {
    position: relative;
    margin-top: 135px; }
    .books__list__header {
      display: flex;
      flex-direction: row; }
      .books__list__header__photo {
        max-width: 100%;
        height: 100%; }
      .books__list__header__title {
        margin-left: 20px; }
        .books__list__header__title__one {
          margin-bottom: 10px; }
    .books__list__contenu {
      position: absolute;
      left: 40%;
      top: 100px; }
      .books__list__contenu__detail {
        margin: 50px 0 30px 20px; }
        .books__list__contenu__detail__info {
          margin-bottom: 20px; }
        .books__list__contenu__detail__info-list {
          font-size: 20px;
          font-weight: bold; }

.lien {
  height: 100px;
  margin-top: 100px; }

.ch-grid {
  margin: 100px 0 250px 0;
  padding: 0;
  display: block;
  width: 100%; }
  .ch-grid__list {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px; }
    .ch-grid__list__item {
      width: 100%;
      height: 100%;
      position: relative; }
      .ch-grid__list__item__info {
        position: absolute;
        width: 100%;
        height: 100%; }
        .ch-grid__list__item__info__title {
          position: relative;
          margin: 0 30px;
          padding: 65px 0 0 0;
          height: 60px; }
        .ch-grid__list__item__info__text {
          padding: 10px 5px;
          margin: 0 30px; }
          .ch-grid__list__item__info__text__link {
            display: block;
            padding-top: 4px; }

/* Artiste
 *
 * /sass/components/_block.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */
.background {
  -moz-background-size: cover;
  background: url("../img/background.jpg") no-repeat center;
  background-size: cover;
  /* image s'adapte par rapport à l'écran*/ }

.block__lampe {
  background: url("../img/lampe.svg") no-repeat center; }

.block__title {
  text-align: center;
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 20px; }

.block__contenu__text {
  color: #969696;
  line-height: 1.55em;
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  hyphens: auto;
  word-wrap: break-word; }

.block__contenu__text + .block__contenu__text {
  margin-left: 50px; }

@media screen and (max-width: 950px) {
  .block {
    padding: 0 1.5625em; }
    .block__contenu {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      margin: 0 auto; }
      .block__contenu__text + .block__contenu__text {
        margin-left: 0; }
      .block__contenu__profil img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px; } }

@media (max-width: 640px) {
  .background {
    display: none; }
  .block__contenu__profil {
    margin: 0 auto; }
    .block__contenu__profil img {
      margin-bottom: 20px; }
  .block__contenu__text {
    margin: 0 auto; } }

/* Artiste
 *
 * /sass/components/_topbar.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */
.topbar {
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #8A8A8A; }
  .topbar__list__index {
    text-align: center; }
    .topbar__list__index:hover {
      background-color: #BABABA; }
    .topbar__list__index__link {
      text-decoration: none;
      color: white;
      font-size: 20px; }

/* Artiste
 *
 * /sass/components/_footer.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */
.copyright {
  text-align: center;
  background-color: #969696; }
  .copyright__design {
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #323232; }
  .copyright__name {
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal; }

.dessin {
  background: url("../img/crayon.svg") no-repeat center; }

.title {
  text-align: center;
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 20px; }

.images {
  -webkit-columns: 3;
  -moz-columns: 3; }
  .images__bloc:hover .images__bloc__list {
    opacity: 1;
    overflow: hidden;
    cursor: pointer; }
  .images__bloc__list {
    color: white;
    background: rgba(100, 100, 100, 0.5);
    text-align: center;
    opacity: 0;
    font-family: 'roboto';
    font-weight: normal;
    font-size: 15px; }
    .images__bloc__list__title {
      font-size: 25px; }

@media screen and (max-width: 1064px) {
  .images {
    -webkit-columns: 1;
    -moz-columns: 1;
    margin: 0 auto;
    width: 300px; } }

.livres {
  background: url("../img/livres.svg") no-repeat center; }

.books__list__header__title {
  font-size: 25px;
  font-family: 'roboto';
  font-weight: normal;
  color: #c9c6a9; }
  .books__list__header__title__two {
    font-size: 20px;
    font-weight: 300; }

.books__list__contenu {
  font-size: 18px;
  line-height: 1.3em;
  border: 1px solid #BABABA;
  border-radius: 10px;
  background-color: #f4f3e3;
  color: #BABABA;
  padding: 10px; }

@media screen and (max-width: 975px) {
  .books__list {
    display: block; } }

.lien {
  background: url("../img/lien.svg") no-repeat center; }

.ch-grid {
  list-style: none;
  text-align: center; }
  .ch-grid__list__item {
    border-radius: 50%;
    cursor: default;
    box-shadow: inset 0 0 0 0 rgba(181, 180, 171, 0.6), inset 0 0 0 16px rgba(204, 203, 193, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out; }
    .ch-grid__list__item:hover {
      box-shadow: inset 0 0 0 110px rgba(181, 180, 171, 0.2), inset 0 0 0 16px rgba(204, 203, 193, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1); }
    .ch-grid__list__item__info {
      border-radius: 50%;
      overflow: hidden;
      opacity: 0;
      transition: all 0.4s ease-in-out;
      transform: scale(0);
      backface-visibility: hidden; }
      .ch-grid__list__item__info__title {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 22px;
        font-family: 'roboto';
        font-weight: 500;
        text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3); }
      .ch-grid__list__item__info__text {
        color: #fff;
        font-style: italic;
        font-size: 12px;
        border-top: 1px solid rgba(255, 255, 255, 0.5); }
        .ch-grid__list__item__info__text__link {
          color: rgba(0, 0, 0, 0.6);
          font-style: normal;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 13px;
          letter-spacing: 1px;
          font-family: 'roboto';
          font-weight: normal; }
          .ch-grid__list__item__info__text__link:hover {
            color: rgba(255, 242, 34, 0.8); }

.ch-grid__list__item:hover .ch-grid__list__item__info {
  opacity: 1;
  transform: scale(1); }

.ch-img-1 {
  background-image: url("../img/bateau.jpg"); }

.ch-img-2 {
  background-image: url("../img/sun.jpg"); }

.ch-img-3 {
  background-image: url("../img/route.jpg"); }

.ch-img-4 {
  background-image: url("../img/grey.jpg"); }

.ch-img-5 {
  background-image: url("../img/fete.jpg"); }

.pratiques {
  background: url("../img/form.svg") no-repeat center;
  height: 100px;
  margin-top: 100px; }

.pratique {
  max-width: 965px;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  padding: 0 25px; }
  .pratique__button {
    background-color: #c9c6a9;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    float: right; }
    .pratique__button:hover {
      background-color: white;
      border: 1px solid #c9c6a9;
      color: #c9c6a9; }
  .pratique__label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #BABABA; }
  .pratique__input {
    border: 1px solid #c9c6a9;
    padding: 10px;
    width: 300px;
    margin-bottom: 15px; }
  .pratique__info {
    margin-right: 50px;
    border-right: 1px solid #c9c6a9;
    padding-right: 30px; }
  .pratique__title {
    color: #c9c6a9;
    font-size: 40px;
    text-align: center;
    margin-top: 100px; }
  .pratique__description__detail {
    color: #c9c6a9;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    margin-top: 30px; }
    .pratique__description__detail--location::before {
      content: url("../img/location.png");
      text-align: center;
      display: block; }
    .pratique__description__detail--date::before {
      content: url("../img/date.png");
      text-align: center;
      display: block; }
    .pratique__description__detail--ouvert::before {
      content: url("../img/time.png");
      text-align: center;
      display: block; }
    .pratique__description__detail--prix::before {
      content: url("../img/prix.png");
      text-align: center;
      display: block; }
    .pratique__description__detail--tel::before {
      content: url("../img/tel.png");
      text-align: center;
      display: block; }

@media screen and (max-width: 800px) {
  .pratique {
    display: flex;
    flex-direction: column; }
    .pratique__info {
      margin-right: 0;
      border-bottom: 1px solid #c9c6a9;
      border-right: 0;
      padding-bottom: 50px; }
    .pratique__formulaire {
      text-align: center;
      margin-top: 20px; }
    .pratique__label {
      margin: 0 auto;
      text-align: left;
      width: 300px;
      margin-bottom: 10px; }
    .pratique__button {
      float: none; } }

/*# sourceMappingURL=styles.css.map */