/* Artiste
 *
 * /sass/settings/_colors.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */

/** DEBUT COLORS INDEX **/

$backgroundColorBody : #FEFDF0;
$backgroundColorTopbar :  #8A8A8A;
$backgroundColorTopbarHover : #BABABA;
$ColorTopbar : white;
$colorBlock : black;
$backgroundColorFooter : #969696;
$colorFooter :  #323232;

/** FIN COLORS INDEX **/
/** DEBUT COLORS GALERIE **/
/** FIN COLORS GALERIE **/

$colorTitleBook : #939393;
