
.livres{
    height: 100px;
    margin-top: 100px;
}
.books{
    width: $containerWidth;
    margin: 0 auto;
    &__list{
        position: relative;
        margin-top: 135px;
        &__header{
            display: flex;
            flex-direction: row;
            &__photo{
            }
            &__title{
                margin-left: 20px;
                flex-direction: column;
                &__one{
                    margin-bottom: 10px;
                }
            }
        }
        &__contenu{
            position: absolute;
            left: 406px;
            top: 100px;
            &__link{
                position: relative;
                left: -50px;
                &__one{
                    padding: 7px 5px;
                    margin-right: 10px;
                }
                &__two{
                    padding: 7px 5px;
                }
            }
            &__detail{
                    margin: 50px 0 30px 20px;
                &__editor{

                }
                &__page{
                    margin-bottom: 20px;
                }
                &__resume{

                }
            }

        }
    }
}
