/* Artiste
 *
 * /sass/objects/_topbar.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */

 .topbar{
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__index{
            height: 3.7rem;
            line-height: 3.7rem;
            flex: 1;
        }
    }
 }
  @media (max-width:640px){
  	.topbar{
         &__list{
             display: inline-block;
             width: 100%;
         }
     }
 }
