/* Artiste
 *
 * /sass/components/_block.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */
 .background{
 	-moz-background-size:cover;
 	background: url( "#{ $imgPath }background.jpg" ) no-repeat center;
 	background-size: cover; /* image s'adapte par rapport à l'écran*/
 }
 .block{
     &__lampe{
         background: url( "#{ $imgPath }lampe.svg" ) no-repeat center;
     }
     &__title{
         text-align: center;
         font-family: $roboto;
         font-weight: normal;
         text-transform: uppercase;
         font-size: 20px;
     }
     &__contenu{
         &__text{
             color: $backgroundColorFooter;
             line-height: 1.55em;
            font-family: $roboto;
             font-weight: lighter;
             font-size: 18px;
             hyphens: auto;
             word-wrap: break-word;
         }
         &__text + &__text{
             margin-left: 50px;
         }
     }
 }
 @media screen and (max-width:950px) {
     .block{
         padding: 0 1.5625em;
         &__contenu{
             display: flex;
             flex-direction: column;
             max-width: 400px;
             margin: 0 auto;
             &__text + &__text{
                margin-left: 0;
             }
             &__profil{
                 & img{
                     max-width: 100%;
                     height: auto;
                     margin-bottom: 20px;
                 }
             }
         }
     }
 }

@media (max-width: 640px){
    .background{
        display: none;
    }
    .block{
        &__contenu{
            &__profil{
                margin: 0 auto;
                & img{
                    margin-bottom: 20px;
                }
            }
            &__text{
                margin: 0 auto;
            }
        }
    }
}
