
.livres{
    background: url( "#{ $imgPath }livres.svg" ) no-repeat center;
}
.books{
    &__list{
        &__header{
            &__title{
                font-size: 25px;
                font-family: 'roboto';
                font-weight: normal;
                 color: $colorTitleBook;
                &__two{
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }
        &__contenu{
            font-size: 18px;
            line-height: 1.3em;
            border: 1px solid $backgroundColorTopbarHover;
            border-radius: 10px;
            background-color: #f4f3e3;
            color: $backgroundColorTopbarHover;
            padding: 10px;
        }
    }
}
@media screen and (max-width:975px) {
    .books{
        &__list{
            display: block;
            &__contenu{

            }
            &__header{
                &__title{
                    &__two{

                    }
                }
            }
        }
    }
}
