/* Artiste
 *
 * /sass/components/_footer.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */

.copyright{
     text-align: center;
     background-color: $backgroundColorFooter;
     &__design{
         font-family: $roboto;
          font-weight: 300;
         color:$colorFooter;
     }
     &__name{
         font-family: $roboto;
          font-weight: normal;
     }
 }
