/* Artiste
 *
 * /sass/components/_footer.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */

 footer{
     text-align: center;
     background-color: $backgroundColorFooter;
 }
 footer p{
 	font-family: $roboto;
    font-weight: lighter;
 	color:$colorFooter;
 }
 footer p span {
 	font-family: $roboto;
    font-weight: normal;
 }
