.dessin{
    background: url( "#{ $imgPath }crayon.svg" ) no-repeat center;
}
.title{
    text-align: center;
    font-family: $roboto;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
}
.images{
    -webkit-columns: 3;
    -moz-columns:3;

    &__bloc{
        &:hover &__list{
            opacity: 1;
            overflow: hidden;
            cursor: pointer;
        }
        &__list{
            color: white;
            background: rgba(100, 100, 100, 0.5);
            text-align: center;
            opacity: 0;
            font-family: 'roboto';
            font-weight: normal;
            font-size: 15px;
            &__title{
            	font-size: 25px;
            }
        }
    }
}
@media screen and (max-width:1064px) {
    .images{
        -webkit-columns: 1;
        -moz-columns:1;
        margin: 0 auto;
        width: 300px;
    }
}
