.lien{
    background: url( "#{ $imgPath }lien.svg" ) no-repeat center;
}
.ch-grid {
	list-style: none;
	text-align: center;
    &__list{
        &__item{

        	border-radius: 50%;
        	cursor: default;
        	box-shadow:
        		inset 0 0 0 0 rgba(181, 180, 171, 0.6),
        		inset 0 0 0 16px rgba(204, 203, 193, 0.6),
        		0 1px 2px rgba(0,0,0,0.1);
        	transition: all 0.4s ease-in-out;
            &:hover{
                box-shadow:
                    inset 0 0 0 110px rgba(181, 180, 171, 0.2),
                    inset 0 0 0 16px rgba(204, 203, 193, 0.8),
                    0 1px 2px rgba(0,0,0,0.1);
            }
            &__info{
                border-radius: 50%;
                overflow: hidden;
                opacity: 0;
                transition: all 0.4s ease-in-out;
                transform: scale(0);
                backface-visibility: hidden;
                &__title{
                    color: #fff;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 22px;
                    font-family: 'roboto';
                    font-weight: 500;
                    text-shadow:
                        0 0 1px #fff,
                        0 1px 2px rgba(0,0,0,0.3);
                }
                &__text{
                    color: #fff;
                    font-style: italic;
                    font-size: 12px;
                    border-top: 1px solid rgba(255,255,255,0.5);
                    &__link{
                        color: rgba(0, 0, 0, 0.6);
                        font-style: normal;
                        font-weight: 700;
                        text-transform: uppercase;
                        font-size: 13px;
                        letter-spacing: 1px;
                        font-family: 'roboto';
                        font-weight: normal;
                        
                        &:hover{
                            color: rgba(255,242,34, 0.8);
                        }
                    }
                }
            }
        }
    }
}
.ch-grid__list__item:hover .ch-grid__list__item__info {
	opacity: 1;
	transform: scale(1);
}
.ch-img-1 {
	background-image: url( "#{ $imgPath }bateau.jpg");
}
.ch-img-2 {
	background-image: url( "#{ $imgPath }sun.jpg");
}
.ch-img-3 {
	background-image: url( "#{ $imgPath }route.jpg");
}
.ch-img-4 {
	background-image: url( "#{ $imgPath }grey.jpg");
}
.ch-img-5 {
	background-image: url( "#{ $imgPath }fete.jpg");
}
