/* Artiste
 *
 * /sass/components/_topbar.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */
 .topbar{
 	font-family: $roboto;
 	background-color: $backgroundColorTopbar;
    &__list{
        &__index{
            text-align: center;
            &:hover{
                background-color:  $backgroundColorTopbarHover;
            }
            &__link{
                text-decoration: none;
                color: $ColorTopbar;
                font-size: 20px;
            }
        }
    }
 }
