/* colors style
* by Anthony Beaumecker
*/

$white = #fff
$black = #000

$backgroundColorNav = #2A2A2A
$backgroundColorFooter = #BDC3C7
$backgroundColorTitleBooks = #2A2A2A
$backgroundColorInfoBooks = #EBEBED
$colorLightGrey = #B7B7B7
$colorTextHeader = #DBDBDB
$backgroundColorImages = rgba(0, 0, 0, 0.5)
$colorLightBlue = #81CFE0
$colorText = #7F8C8D
$colorTextImages = #D3D3D3
$backgroundColorItemNav = #4d4d4d
