$ws_icon-list =       "icon-calendrier"   "\e900",
                      "arrow-details-livres"   "\e901",
                      "arrow-ariane"   "\e902",
                      "arrow-title"   "\e903",
                      "quotation-mark"   "\e904",
                      "pinceau"   "\e905",
                      "lieu"   "\e906",
                      "logo-artiste"   "\e907",
                      "tableau"   "\e908"
