.bibliographie
  display: flex
  flex-direction: row
  flex-wrap: wrap
  &__books
    margin: s(50,16) s(30,16)
    max-width: s(250,16)
    height: auto
  &__image
    width: 100%
    height: auto
    display: block
  &__bloc
    background-color: $backgroundColorTitleBooks
    color: $white
    padding: s(20,16)
    margin: 0
    text-align: center
  &__title
    font-weight: 500
    font-size: s(21,16)
    line-height: 1.2em
    margin-bottom: s(10,21)
  &__author
    font-weight: lighter
  &__contenu
    background-color: $backgroundColorInfoBooks
    overflow: hidden;
    visibility: hidden;
    height: 0
    transition: .4s ease height
  &__contenu-info
    font-size: s(14,16)
    margin-bottom: s(15,16)
    line-height: 1.6em
    &--plus
      font-weight: bold
  &__link
    display: block;
    width: 100%
    height: s(60,16)
    background-color: $backgroundColorInfoBooks
    text-align: center
    &:before
      icon( 'arrow-details-livres' )
      font-size: s(30,16)
      color: $colorLightBlue
      display: inline-block
      position: relative;
      top: 15px
.bibliographie__contenu.defil
  visibility: visible;
  transition: .4s ease height
  height: 250px
  padding: 25px
.bibliographie__contenu.defil ~ .bibliographie__link:before
  transform: rotate(180deg)
  transition: .8s ease transform

@media screen and (max-width:948px)
  .bibliographie
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

@media screen and (max-width:400px)
  .bibliographie
    &__title
      font-size: s(18,16)
    &__author
      font-size: s(14,16)
