.bibliographie
  text-align: center;
  &__books
    display: inline-block
    margin-bottom: 100px
    /*margin-right: 65px
    &:last-child
      margin-right: 0*/
  &__image
    min-width: 250px
    height: auto;
