.exposition
  padding: s(100,16) 0
  font-weight: 100
  columns: 2 s(200,16)
  column-gap: s(80,16)
  &__title
    font-size: s(35,16)
    text-transform: uppercase
    line-height: 1.4
    &:before
      icon( 'arrow-title' )
      color: $colorLightBlue
      font-size: s(12,16)
      margin-right: s(40,37.5)
  &__text
    line-height: 1.6
    padding: s(50,16) 0
  &__link
    color: $colorLightBlue
    font-weight: 500
  &__bloc-image
    max-width: s(350,16)
    margin-left: s(50,16)
