.galerie
  column-count: 3
  &__picture
    position: relative
    color: $colorTextImages
    margin-bottom: s(20,16)
  &__peinture
    max-width: 100%
    height: auto
    display: block
  &__opacity
    display: inline-block
    position: relative
  &__info
    position: absolute
    width: s(270,16)
    overflow: hidden
    display: flex
    flex-direction: row
    flex-wrap:wrap
    justify-content: center
    align-items: center
    padding: s(10,16)
  &__title
    font-size: s(16,16)
    font-weight: bold
    text-align: center
    margin-bottom: s(30,16)
  &__info-item
    font-weight: lighter
    font-size: s(14,16)
    margin-bottom: s(20,14)
    padding: 0 s(25,14)
    &--peinture
      &:before
        icon("pinceau")
        color: $colorLightBlue
        margin-right: s(20,16)
    &--width
      &:before
        icon("tableau")
        color: $colorLightBlue
        margin-right: s(20,16)
    &--lieu
      &:before
        icon("lieu")
        color: $colorLightBlue
        margin-right: s(20,16)
.galerie__opacity:hover .galerie__info
  opacity: 1
.galerie__opacity .galerie__info
  opacity: 0
  color: $white
  width: 100%
  height: 100%
  background: $backgroundColorImages
  margin: 0 auto
  top: 0
  opacity: 0
  display: block
  position: absolute
  transition: opacity .5s ease-in-out


@media only screen and (max-width: 1030px)
  .galerie
    margin: 0 s(20,16)

@media only screen and (max-width: 740px)
  .galerie
    column-count: 2

@media only screen and (max-width: 585px)
  .galerie
    &__title
      font-size: s(14,16)
      margin-bottom: s(15,14)
    &__info-item
      font-size: s(12,16)
      margin-bottom: s(10,12)

@media only screen and (max-width: 470px)
  .galerie
    column-count: 1
    &__title
      font-size: s(16,16)
      margin-bottom: s(30,16)
    &__info-item
      font-size: s(14,16)
      margin-bottom: s(20,14)
      text-align: center
