.navigation
  font-size s(16,16)
  letter-spacing s(1.6,16)
  text-align center
  font-weight: 100
  &__title
    hidden()
  &__toggle
    position relative
    z-index 2
    display block
    margin 0
    padding s(12, 16) 0
    background-color $backgroundColorNav
    text-decoration none
    text-align center
    font-size s(21,16)
    color $white
    &:hover
    &:focus
      color $white
      background-color $backgroundColorNav
  &__toggle-text
    font-size: s(8,16)
    display: block
  &__menu
    position relative
    z-index 1
    background-color $backgroundColorNav
    overflow hidden
    padding 0
    max-height s(1,16)
    min-height 0
    clip rect(0 0 0 0)
    box-shadow inset 0 0 s(3,16) s(3,16) rgba(0, 0, 0, 0.2)
    transition max-height 800ms ease-out, min-height 800ms ease-in, padding 800ms ease-in
  &__menu-link
    transition color 800ms ease-in-out, background 800ms ease-in-out
    display block
    padding s(10,16) 0
    background-color transparent
    text-decoration none
    text-align center
    font-size s(21,16)
    color $white
    border-radius s(2,16)
    &:hover
    &:focus
      color $white
      background $backgroundColorItemNav
    &--active
      color $white
      background $backgroundColorItemNav
  &__expanded-toggle
    display none

.expanded-mobile-menu
  transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 400ms ease-in
  clip: auto
  max-height: s(300,16)
  padding: s(8,16) 0

/**MEDIA QUERIES**/

@media only screen and (min-width: 470px)
  .navigation
    &__menu-item
      float: left
      width: 50%

@media only screen and (min-width: 740px)
  .navigation
    &__logo
      margin: 0 s(30,16)
      &:before
        icon( 'logo-artiste' )
        font-size: s(40,16)
        color: $white
    &__toggle
      display: none
    &__menu
      margin: 0
      min-height: 0
      max-height: s(999,16)
      overflow: visible
      padding: s(10,16) 0
      background: $backgroundColorNav
    &__menu-item
      float: none
      width: auto
      display: inline-block
      position: relative
      vertical-align: middle
    &__menu-link
      padding: s(5,16) s(10,16)
      margin: 0 s(8,16)
