/* Artiste
 *
 * /sass/tools/_util.scss - Main stylesheet
 *
 * coded by Anthony2511
 * started at 02/03/2016
 */

 h1{
   overflow: hidden;
   text-indent: 100%;
   white-space: nowrap;
   display: none;
 }
