doctype html
html( lang="fr" )
  head
    include template/_meta
  header
    h1.head__title-info( aria-level="1") Site de Nicolas de Stael
    nav.navigation
      h1.navigation__title( aria-level="1" ) Navigation principale
      a.navigation__toggle( href="#head-nav" )
        span.icon-menu( aria-hidden="true" )
        span.navigation__toggle-text Menu
      ul.navigation__menu( id="main-menu" )
        li.navigation__menu-item
          a.navigation__menu-link( href="#" ) Bibliographie
        li.navigation__menu-item
          a.navigation__menu-link( href="#" ) Galerie
        li.navigation__menu-item
          a.navigation__logo(href="index.html")
        li.navigation__menu-item
          a.navigation__menu-link( href="#" )  Liens
        li.navigation__menu-item
          a.navigation__menu-link( href="#" ) Pratique
    .fil-ariane
      section.fil-ariane__width
        h1.fil-ariane__title( aria-level="1" ) Fil d'ariane
        ul.fil-ariane__navigation
          li.fil-ariane__ariane-item
            a.fil-ariane__ariane-link( href="index.html") Accueil
          li.fil-ariane__ariane-item
            a.fil-ariane__ariane-link( href="bibliographie.html") Bibliographie
  body
    section.bibliographie.padding-mobile
      section.bloc-bio
        h2.title( aria-level="2" ) Bibliographie
    #wrap

      .bibliographie
        section.bibliographie__books
          img(src="../images/book3.jpg" alt="Le prince foudroyé" width="180" height="260")
          h4.bibliographie__title( aria-level="4" ) Le prince foudroyé
          span.biographie__author Laurent Greilsamer

    footer.footer
      span &copy;Design by&nbsp;
      a.footer__link Anthony Beaumecker
    include template/_scripts
