doctype html
html( lang="fr" )
  head
    include template/_meta
  header
    h1.head__title-info( aria-level="1" role="heading" ) Galerie
    nav.navigation
      h2.navigation__title( aria-level="2" role="heading" ) Navigation principale
      a.navigation__toggle( href="#head-nav" title="Vers le menu" )
        span.icon-menu( aria-hidden="true" )
        span.navigation__toggle-text Menu
      ul.navigation__menu( id="main-menu" )
        li.navigation__menu-item
          a.navigation__menu-link( href="bibliographie.html" title="Vers la Bibliographie" ) Bibliographie
        li.navigation__menu-item
          a.navigation__menu-link.navigation__menu-link--active( href="galerie.html" title="Vers la page Galerie" ) Galerie
        li.navigation__menu-item
          a.navigation__logo(href="index.html" title="Vers la page d'accueil" )
        li.navigation__menu-item
          a.navigation__menu-link( href="liens.html" title="Vers la page Liens" )  Liens
        li.navigation__menu-item
          a.navigation__menu-link( href="pratique.html" title="Vers la page Pratique" ) Pratique
    .fil-ariane
      section.fil-ariane__width
        h1.fil-ariane__title( aria-level="1" role="heading" ) Fil d'ariane
        ul.fil-ariane__navigation
          li.fil-ariane__ariane-item
            a.fil-ariane__ariane-link( href="index.html" title="Vers la page d'accueil" ) Accueil
          li.fil-ariane__ariane-item
            a.fil-ariane__ariane-link( href="galerie.html" title="Vers la page Galerie" ) Galerie
  body.galerie-page
    .padding-mobile
      section.bloc-bio
        h2.title( aria-level="2" role="heading" ) Galerie 
    #wrap
      .galerie#galerie
        a.galerie__link(href="../images/atelier.jpg" title="Peinture : Atelier" )
          .galerie__picture
              .galerie__opacity
                img.galerie__peinture(src="./images/atelier.jpg" width="483" height="800" alt="Peinture : Atelier")
                section.galerie__info
                  h3.galerie__title( aria-level="3" role="heading") Atelier (1955)
                  ul.galerie__info-list
                    li.galerie__info-item.galerie__info-item--peinture Huile sur toile
                    li.galerie__info-item.galerie__info-item--width 195 x 114 cm
                    li.galerie__info-item.galerie__info-item--lieu Galerie Jeanne Bucher
        a.galerie__link(href="./images/bateau.jpg" title="Peinture : Bateau de guerre" )
          .galerie__picture
            .galerie__opacity
              img.galerie__peinture(src="./images/bateau.jpg" width="900" height="720" alt="Peinture : Bateau de guerre")
              section.galerie__info
                h3.galerie__title( aria-level="3" role="heading") Bateau (1955)
                ul.galerie__info-list
                  li.galerie__info-item.galerie__info-item--peinture Huile sur toile
                  li.galerie__info-item.galerie__info-item--width 65 x 81 cm
                  li.galerie__info-item.galerie__info-item--lieu Collection particulière, Lausane
        a.galerie__link(href="./images/bleu.jpg" title="Peinture : Nature au chandelier sur fond bleu" )
          .galerie__picture
            .galerie__opacity
              img.galerie__peinture(src="./images/bleu.jpg" width="1255" height="860" alt="Peinture : Nature au chandelier sur fond bleu")
              section.galerie__info
                h3.galerie__title( aria-level="3" role="heading") Nature morte au chandelier sur fond bleu (1955)
                ul.galerie__info-list
                  li.galerie__info-item.galerie__info-item--peinture Huile sur toile
                  li.galerie__info-item.galerie__info-item--width 89 x 130 cm
                  li.galerie__info-item.galerie__info-item--lieu Musée Picasso, Antibes
        a.galerie__link(href="./images/bocaux.jpg" title="Peinture : Nature morte aux boceaux" )
          .galerie__picture
            .galerie__opacity
              img.galerie__peinture(src="./images/bocaux.jpg" width="1000" height="790" alt="Peinture : Nature morte aux boceaux")
              section.galerie__info
                h3.galerie__title( aria-level="3" role="heading") Nature morte aux bocaux (1955)
                ul.galerie__info-list
                  li.galerie__info-item.galerie__info-item--peinture Huile sur toile
                  li.galerie__info-item.galerie__info-item--width 65 x 81 cm
                  li.galerie__info-item.galerie__info-item--lieu Collection particulière
        a.galerie__link(href="./images/bouteilles.jpg" title="Peinture : Bouteilles" )
          .galerie__picture
            .galerie__opacity
              img.galerie__peinture(src="./images/bouteilles.jpg" width="640" height="467" alt="Peinture : Bouteilles")
              section.galerie__info
                h3.galerie__title( aria-level="3" role="heading") Bouteilles (1952)
                ul.galerie__info-list
                  li.galerie__info-item.galerie__info-item--peinture Huile sur toile
                  li.galerie__info-item.galerie__info-item--width 65 x 81 cm
                  li.galerie__info-item.galerie__info-item--lieu Courtesy Massimo Martino SA, Lugano
        a.galerie__link(href="./images/toits.jpg" title="Peinture : Les toits" )
          .galerie__picture
            .galerie__opacity
              img.galerie__peinture(src="./images/toits.jpg" width="960" height="1280" alt="Peinture : Les toits")
              section.galerie__info
                h3.galerie__title( aria-level="3" role="heading") Les toits (1954)
                ul.galerie__info-list
                  li.galerie__info-item.galerie__info-item--peinture Huile sur toile
                  li.galerie__info-item.galerie__info-item--width 73 x 120 cm
                  li.galerie__info-item.galerie__info-item--lieu Collection particulière
        a.galerie__link(href="./images/composition.jpg" title="Peinture : Composition" )
          .galerie__picture
            .galerie__opacity
              img.galerie__peinture(src="./images/composition.jpg" width="633" height="900" alt="Peinture : Composition")
              section.galerie__info
                h3.galerie__title( aria-level="3" role="heading") Composition (1947)
                ul.galerie__info-list
                  li.galerie__info-item.galerie__info-item--peinture Encre de chine
                  li.galerie__info-item.galerie__info-item--width 105 x 76 cm
                  li.galerie__info-item.galerie__info-item--lieu Collection particulière
        a.galerie__link(href="./images/fete.jpg" title="Peinture : Jour de fête" )
          .galerie__picture
            .galerie__opacity
              img.galerie__peinture(src="./images/fete.jpg" width="595" height="832" alt="Peinture : Jour de fête")
              section.galerie__info
                h3.galerie__title( aria-level="3" role="heading") Jour de fête (1949)
                ul.galerie__info-list
                  li.galerie__info-item.galerie__info-item--peinture Huile sur toile
                  li.galerie__info-item.galerie__info-item--width 100 x 73 cm
                  li.galerie__info-item.galerie__info-item--lieu Galerie Jeanne Bucher
        a.galerie__link(href="./images/route.jpg" title="Peinture : La route de dieu" )
          .galerie__picture
            .galerie__opacity
              img.galerie__peinture(src="./images/route.jpg" width="900" height="679" alt="Peinture : La route de dieu")
              section.galerie__info
                h3.galerie__title( aria-level="3" role="heading") La route de dieu (1954)
                ul.galerie__info-list
                  li.galerie__info-item.galerie__info-item--peinture Huile sur toile
                  li.galerie__info-item.galerie__info-item--width 60 x 81 cm
                  li.galerie__info-item.galerie__info-item--lieu Collection particulière
        a.galerie__link(href="./images/nu.jpg" title="Peinture : Grand nu orange" )
          .galerie__picture
              .galerie__opacity
                img.galerie__peinture(src="./images/nu.jpg" width="764" height="510" alt="Peinture : Grand nu orange")
                section.galerie__info
                  h3.galerie__title( aria-level="3" role="heading") Grand nu orange (1953)
                  ul.galerie__info-list
                    li.galerie__info-item.galerie__info-item--peinture Huile sur toile
                    li.galerie__info-item.galerie__info-item--width 89 x 146 cm
                    li.galerie__info-item.galerie__info-item--lieu Collection particulière
        a.galerie__link(href="./images/ressenti.jpg" title="Peinture : Ressentiment" )
          .galerie__picture
              .galerie__opacity
                img.galerie__peinture(src="./images/ressenti.jpg" width="402" height="500" alt="Peinture : Ressentiment")
                section.galerie__info
                  h3.galerie__title( aria-level="3" role="heading") Ressentiment (1947)
                  ul.galerie__info-list
                    li.galerie__info-item.galerie__info-item--peinture Huile sur toile
                    li.galerie__info-item.galerie__info-item--width 100 x 81 cm
                    li.galerie__info-item.galerie__info-item--lieu Galerie Jeanne Bucher
        a.galerie__link( href="./images/grey.jpg" title="Peinture : Paris la nuit" )
          .galerie__picture
              .galerie__opacity
                img.galerie__peinture(src="./images/grey.jpg" width="1024" height="731" alt="Peinture : Paris la nuit")
                section.galerie__info
                  h3.galerie__title( aria-level="3" role="heading") Paris la nuit (1954)
                  ul.galerie__info-list
                    li.galerie__info-item.galerie__info-item--peinture Huile sur toile
                    li.galerie__info-item.galerie__info-item--width 45 x 60 cm
                    li.galerie__info-item.galerie__info-item--lieu Collection particulière, Suisse
        a.galerie__link(href="./images/route2.jpg" title="Peinture : La route" )
          .galerie__picture
              .galerie__opacity
                img.galerie__peinture(src="./images/route2.jpg" width="800" height="591" alt="Peinture : La route")
                section.galerie__info
                  h3.galerie__title( aria-level="3" role="heading") La route (1954)
                  ul.galerie__info-list
                    li.galerie__info-item.galerie__info-item--peinture Huile sur toile
                    li.galerie__info-item.galerie__info-item--width 60 x 81 cm
                    li.galerie__info-item.galerie__info-item--lieu Collection particulière
        a.galerie__link(href="./images/foot.jpg" title="Peinture : Les footballeurs" )
          .galerie__picture
              .galerie__opacity
                img.galerie__peinture(src="./images/foot.jpg" width="1000" height="739" alt="Peinture : Les footballeurs")
                section.galerie__info
                  h3.galerie__title( aria-level="3" role="heading") Les footballeurs (1952)
                  ul.galerie__info-list
                    li.galerie__info-item.galerie__info-item--peinture Huile sur toile
                    li.galerie__info-item.galerie__info-item--width 65 x 81 cm
                    li.galerie__info-item.galerie__info-item--lieu Courtesy Galerie Daniel Malingue
        a.galerie__link(href="./images/train.jpg" title="Peinture : Chemin de fer au bord de la mer" )
          .galerie__picture
            .galerie__opacity
              img.galerie__peinture(src="./images/train.jpg" width="650" height="466" alt="Peinture : Chemin de fer au bord de la mer")
              section.galerie__info
                h3.galerie__title( aria-level="3" role="heading") Chemin de fer au bord de la mer (1955)
                ul.galerie__info-list
                  li.galerie__info-item.galerie__info-item--peinture Huile sur toile
                  li.galerie__info-item.galerie__info-item--width 73 x 100 cm
                  li.galerie__info-item.galerie__info-item--lieu  Courtesy Galerie Daniel Malingue 
        a.galerie__link(href="./images/red.jpg" title="Peinture : Bouteilles rouges" )
          .galerie__picture
              .galerie__opacity
                img.galerie__peinture(src="./images/red.jpg" width="879" height="633" alt="Peinture : Bouteilles rouges")
                section.galerie__info
                  h3.galerie__title( aria-level="3" role="heading") Bouteilles rouges (1955)
                  ul.galerie__info-list
                    li.galerie__info-item.galerie__info-item--peinture Huile sur toile
                    li.galerie__info-item.galerie__info-item--width 73 x 100 cm
                    li.galerie__info-item.galerie__info-item--lieu Collection particulière, Suisse           
    footer.footer
      span &copy; Design by&nbsp;
      a.footer__link(href="http://beaumecker.be" title="Vers le site du développeur" ) Anthony Beaumecker
    include template/_scripts
