doctype html
html( lang="fr" )
    head
        meta( charset="utf-8" )
        title Le site de Nicolas De Stael
        link( rel="stylesheet", href="css/app.css" )

    header
        h1( aria-level="1") Site de Nicolas de Stael
        nav
            h1(aria-level="2") Navigation principale
            ul
                li
                    a(href="#") Bibliographie
                li
                    a(href="#")
                li
                    a(href="#")  Liens
                li
                    a(href="#") Pratique
    body
        #wrap
            h2(aria-level="2") Biographie
