doctype html
html( lang="fr" )
  head
    include template/_meta
  header
    h1.head__title-info( aria-level="1" role="heading" ) Liens externes
    nav.navigation
      h1.navigation__title( aria-level="1" role="heading" ) Navigation principale
      a.navigation__toggle( href="#head-nav" )
        span.icon-menu( aria-hidden="true" )
        span.navigation__toggle-text Menu
      ul.navigation__menu( id="main-menu" )
        li.navigation__menu-item
          a.navigation__menu-link( href="bibliographie.html" ) Bibliographie
        li.navigation__menu-item
          a.navigation__menu-link( href="galerie.html" ) Galerie
        li.navigation__menu-item
          a.navigation__logo(href="index.html")
        li.navigation__menu-item
          a.navigation__menu-link.navigation__menu-link--active( href="#" )  Liens
        li.navigation__menu-item
          a.navigation__menu-link( href="pratique.html" ) Pratique
    .fil-ariane
      section.fil-ariane__width
        h1.fil-ariane__title( aria-level="1" role="heading" ) Fil d'ariane
        ul.fil-ariane__navigation
          li.fil-ariane__ariane-item
            a.fil-ariane__ariane-link( href="index.html") Accueil
          li.fil-ariane__ariane-item
            a.fil-ariane__ariane-link( href="liens.html") Liens
  body
    .padding-mobile
      section.bloc-bio
        h2.title( aria-level="2" role="heading" ) Liens 
    #wrap
      .liens
        ul.liens
          li.liens__list
            .liens__item
              section.liens__info
                h3.liens__title( aria-level="3" role="heading") Officiel art
                p.liens__text
                  a.liens__link(href="http://www.artmajeur.com/fr/jeanne-bucher/stael.html") En savoir plus
          li.liens__list
            .liens__item
              section.liens__info
                h3.liens__title( aria-level="3" role="heading") Maulpoix
                p.liens__text
                  a.liens__link(href="http://www.maulpoix.net/nicolas.html") En savoir plus
          li.liens__list
            .liens__item
              section.liens__info
                h3.liens__title( aria-level="3" role="heading") Poster shop
                p.liens__text
                  a.liens__link(href="http://www.postershop.com/De-Stael-Nicolas-p.html") En savoir plus
          li.liens__list
            .liens__item
              section.liens__info
                h3.liens__title( aria-level="3" role="heading") Poster shop
                p.liens__text
                  a.liens__link(href="http://www.postershop.com/De-Stael-Nicolas-p.html") En savoir plus
          li.liens__list
            .liens__item
              section.liens__info
                h3.liens__title( aria-level="3" role="heading") Wanadoo
                p.liens__text
                  a.liens__link(href="http://pro.wanadoo.fr/art-deco.france/stael_f.htm") En savoir plus
    footer.footer
      span &copy;Design by&nbsp;
      a.footer__link Anthony Beaumecker
    include template/_scripts
